.notifications-list {
    display: flex;
    flex-grow: 3;
    flex-direction: column;
}

    .notifications-list .list {
        background-color: white;
        flex-direction: column;
    }

    .notifications-list .header-text {
        margin-right: 0;
    }

    .notifications-list .badge {
        align-self: flex-start;
        margin-top: 10px;
    }

        .notifications-list .filters * {
            margin-left: 5px;
        }
        
        .notifications-list .filters .close-button {
            margin: 0;
            padding: 2px;
        }
        
            .notifications-list .filters .close-button i {
                margin: 0;
                padding: 2px;
            }

.notification {
    margin: 8px;
    border-bottom: #ebebeb;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.notification .name {
    font-weight: bold;
}

.notification.new {
    color: black;
}

    .notification.new .content {
        font-weight: bold;
    }


.notifications-list .empty {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 40px;
    text-align: center;
    background-color: white;
    height: 100%;
}

.notifications-list .empty > div > p {
        font-weight: bold;
    }

.notifications-list .empty > div > i {
        color: darkred;
    }