.primary-button {
    background-color: var(--brand-light-orange);
    color: var(--brand-light-text);
    cursor: pointer;
    box-shadow: none;
    border-radius: 3px;
}

    .primary-button:hover {
        background-color: var(--brand-orange);
        color: white;
    }

    .primary-button:focus {
        box-shadow: none;
    }

.primary-button-inverted {
    color: var(--brand-very-light-orange);
    background-color: transparent;
    border: none;
    cursor: pointer;
    box-shadow: none;
}

    .primary-button-inverted:hover {
        color: var(--brand-orange);
    }

    .primary-button-inverted:focus {
        box-shadow: none;
    }