.my-button {
    outline: none !important;
    background-color: #ffffff;
    color: #62b5c4;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 0;
}

    .my-button:not([disabled]):hover, .my-button:not([disabled]):focus {
        opacity: .5;
        background-color: #62b5c4;
        color: #ffffff;
    }

    .my-button:not([disabled]):active {
        opacity: 1;
    }

.grid-button {
    color: #656565;
    background-color: #f6f6f6;
    border-radius: 0;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.grid-button:hover {
    background-color: buttonface;
}

button, a {
    cursor: pointer;
    outline: none;
}

button:disabled, a:disabled {
    cursor: not-allowed;
}
