:root {
    --brand-orange: #F47216;
    --brand-light-orange: #F68B40;
    --brand-very-light-orange: #FFBF91;
    --brand-main-text: #393E41;
    --brand-light-text: #F6F7EB;
    --brand-invalid: #E83114;
    --brand-valid: #2DBF30;
}
