#Visual Studio
**/.vs/

#Resharper
**/*.sln.DotSettings.user

#Build
**/[Bb]in/
**/[Oo]bj/

#Packages
**/[Pp]ackages/
**/node_modules/

#WebClient
WebClient/src/WebClient/client/**/*.js
WebClient/src/WebClient/client/**/*.js.map

#WebApi
