
.my-input {
    opacity: .5;
    border: none;
    border-bottom: 1px solid var(--brand-main-text);
    color: var(--brand-main-text);
    margin-bottom: 15px;
}

    .my-input::-webkit-input-placeholder {
        color: inherit;
    }
        
    .my-input.filled,
    .my-input:focus {
        opacity: 1;
        outline: none;
    }

    .my-input:focus::-webkit-input-placeholder {
        text-align: right;
        opacity: .5;
        font-size: 10px;
    }
       
    .my-input.invalid {
        border-color: red;
        color: red;
    }