building-create {
    display: flex;
    justify-content: space-around;
}

building-create .card {
    border-radius: 0;
    min-width: 330px;
}

    building-create .card .card-header {
        background-color: white;
        color: #62b5c4;
        font-weight: bold;
    }

    building-create .card .card-footer {
        padding: 0;
        display: flex;
    }

    building-create .card .card-footer button {
        flex-grow: 1;
        padding: 12px;
    }

    building-create .card .card-block .step {
        display: flex;
        padding: 10px;
        flex-direction: column;
    }

estimate-step tr {
    height: 10px;
}

estimate-step .table {
    width: 1%;
    white-space: nowrap;
    line-height: 1%;
    font-size: 10px;
}

estimate-step input.invalid {
    color: red;
}

estimate-step .bad-file-info {
    color: red;
}