<!-- ko if: currentStep() !== null -->
<div class="card">
    <div class="card-header">
        <div data-bind="text: currentStep().header()"></div>
    </div>
    <div class="card-block">
        <!-- ko if: companyStep.active() -->
        <company-create class="step" params="viewModel: companyStep"></company-create>
        <!-- /ko -->
        <!-- ko if: buildingStep.active() -->
        <building-step class="step" params="viewModel: buildingStep"></building-step>
        <!-- /ko -->
        <!-- ko if: estimateStep.active() -->
        <estimate-step class="step" params="viewModel: estimateStep"></estimate-step>
        <!-- /ko -->
    </div>
    <div class="card-footer">
        <button class="my-button" data-bind="click: back, visible: currentStep().back() !== null">Back</button>
        <button class="my-button" data-bind="click: cancel, visible: currentStep().back() === null">Cancel</button>
        <button class="my-button" data-bind="click: next, visible: currentStep().next() !== null">Next</button>
        <button class="my-button" data-bind="click: save, visible: currentStep().next() === null">Save</button>
    </div>
</div>
<!-- /ko -->