login .card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px #cff1f7;
    border: none;
}

    login .card .card-block {
        display: flex;
        flex-direction: column;
    }

    login .card img {
        padding: 8px;
    }

    login .card input {
        border: none;
        border-bottom: 1px solid #cff1f7;
        margin-bottom: 10%;
        color: #cff1f7;
    }

        login .card input::-webkit-input-placeholder {
            color: inherit
        }
        
        login .card input:focus {
            outline: none;
            border-bottom: 1px solid #62b5c4;
            color: #62b5c4
        }