nav {
    background-color: var(--brand-light-orange)
}

.nav div.brand {
    margin: 10px;
    color: var(--brand-main-text);
    font-weight: bold;
    font-size: 60px;
    cursor: pointer;
}

.nav div.buttons {
    font-size: 30px;
}

.nav .buttons div.primary-button {
    padding-left: 10px;
    background-color: transparent;
    color: var(--brand-main-text);
}        

.nav .buttons div.primary-button:hover {
    background-color: var(--brand-orange);
}