.user-avatar {
    width: 40px;
    border-radius: 50% !important;
    height: 40px;
    box-shadow: none !important;
    font-weight: bold;
}

    .user-avatar:not(.show) {
        opacity: 1 !important;
        background-color: #ffffff!important;
        color: #62b5c4!important;
    }

nav {
    background-color: #048299;
}

    nav .dropdown-menu {
        right: 0;
        left: auto;
    }

    nav a {
        color: white;
    }

    nav .navbar-brand {
        font-weight: bold;
    }

    nav .navbar-nav {
        flex-direction: row;
    }

        nav .navbar-nav li .nav-link {
            padding: 8px;
            padding-bottom: 2px;
        }

        nav .navbar-nav li .current-tab{
            background-color: white;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            margin: auto;
        }