nav {
    background-color: var(--brand-light-orange)
}

    .nav div.brand {
        margin: 10px;
        color: var(--brand-main-text);
        font-weight: bold;
        font-size: 60px;
    }

    .nav div.buttons {
        font-size: 30px;
    }

        .nav .buttons div.primary-button {
            padding-left: 10px;
            background-color: transparent;
            color: var(--brand-main-text);
        }        

        .nav .buttons div.primary-button:hover {
            background-color: var(--brand-orange);
        }

.content {
    padding: 20px;
}

    .content .welcome {
        font-size: 30px;
        font-weight: 700;
        border-bottom: 1px solid var(--brand-very-light-orange);
    }

        .content .welcome p {
            margin-bottom: 0px;
        }

    .content .main {
        margin-top: 20px;
    }