company-create .company-info-create {
    display: flex;
    flex-direction: column;
}

    company-create .company-info-create .text-number-input {
        display: flex;
        justify-content: space-between
    }

        company-create .company-info-create .text-number-input input:last-child {
            max-width: 35%
        }
