<div class="card">
    <img class="card-img-top" src="images/logo.png"/>
    <div class="card-block">
        <!-- ko if: loading()-->
        <div class="loader"></div>
        <!-- /ko -->
        <!-- ko ifnot: loading() -->
        <input class="my-input" type="text" placeholder="Username" data-bind="value: userName, css: {'invalid': invalid}"/>
        <input class="my-input" type="password" placeholder="Password" data-bind="value: password, css: {'invalid': invalid}"/>
        <button class="my-button" type="button" data-bind="click: logIn">Log In</button>
        <!-- /ko -->
    </div>
</div>