<div class="bordered">
    <span class="main-header-text">Notifications</span>
    <!-- ko if: newNotificationsCount() != 0 -->
    <div class="badge badge-pill badge-danger" data-bind="text: newNotificationsCount"></div>
    <!-- /ko -->
</div>
<div class="bordered filters">
    <select class="custom-select type-select" data-bind="options: notificationTypes,
            optionsText: 'displayName',
            value: selectedType,">
    </select>
    <!-- ko if: buildingsNamesVisible-->
    <button class="btn grid-button" data-bind="click: toggleSpecifyBuilding,
            visible: !specifyBuilding()">Specify building</button>
    <div data-bind="visible: specifyBuilding">
        <select class="custom-select type-select" data-bind="options: buildingNames,
                value: selectedBuildingName"></select>
        <button class="btn grid-button close-button" data-bind="click: toggleSpecifyBuilding,">
            <i class="fa fa-times" aria-hidden="true"></i>
        </button>
    </div>
    <!-- /ko -->
</div>
<div class="bordered list" data-bind="foreach: visibleNotifications">
   <notification params="viewModel: $data"></notification>
</div>